*{
    margin: 0px;   
    padding: 0px; 

} 
.red { 
    width:100%;
    height:100px;   
    background-color:#ff2d88;

}


body {
    font-family: Helvetica, Arial, sans-serif

}
.content { 
    text-align: center;
    width: 810px; 
    height: 568px;
    background-color:#ABE50D;
    padding:50px;
    margin: 50px 300px 50px 300px;
    border-style:solid; 
    border-color:#ff2d88;
}
.outerContent {
    text-align: left;
    padding: 0 0 0 20%;

}

h1 { 
  
    font-size:40px; 
    margin-top:50px;
    margin-bottom:70px;
    padding-left: 10%;
    text-align: left;
}

p { 
    margin-left: 50px; 
    margin-right:50px;
    font-size:30px;
    text-align: left;
} 

.black { 
    width:100%;
    height:100px;   
    background-color:#1e2021;


}